/* Table styles */

.table {
    display: block;
    width: 100%;
    overflow-x: auto;
}

.table th,
.table td {
    padding: 0.75rem;
    vertical-align: top;
    border-top: 1px solid #dee2e6;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
    text-align: center;
}

#loader {
    display: flex;
}

.price-filter-range {
    margin-top: 1em !important;
}

.products-container {
    display: flex;
    flex-wrap: wrap;
}

.product-item {
    display: flex;
    flex-direction: column;
    padding: 30px 20px;
}

.product-image {
    display: flex;
    flex-direction: column;
}

.product-info {
    display: flex;
    flex-direction: column;
}