html {
    position: absolute;
    right: 0;
    top: 0;
    left: 0;
    bottom: 0;
}


.main-page {
    background-image: url(../images/HomePage/homePage-wall-paper.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: scroll;
    position: absolute;
    background-position: center bottom;
    right: 0;
    top: 0;
    left: 0;
    bottom: 0;
}

.description-home {
    font-size: 24px;
    word-spacing: 5px;
}

.navbar-container {
    opacity: 0.8;
    position: fixed;
    top: 0;
    right: 0;
    left: 0;
    z-index: 1000;
}

.main-container {
    overflow: auto;
    height: calc(100% - 60px);
}



 /* Table styles */ 

.table {
    width: 100%;
    overflow-x: auto;
}

.table th,
.table td {
    padding: 0.75rem;
    vertical-align: top;
    border-top: 1px solid #dee2e6;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
    text-align: center;
}

#loader {
    display: flex;
}

.price-filter-range {
    margin-top: 1em !important;
}

.products-container {
    display: flex;
    flex-wrap: wrap;
}

.product-item {
    display: flex;
    flex-direction: column;
    padding: 30px 20px;
    background-color: bisque;
    margin: 0 16px 16px 16px;
}

.product-image {
    display: flex;
    flex-direction: column;
}

.product-info {
    display: flex;
    flex-direction: column;
}

.app-background {
    background-color: bisque;
}

.show-product {
    cursor: pointer;
}

.chart-size {
    max-width: 400px;
    max-height: 400px;
}