/* Table styles */

.table {
    display: block;
    width: 100%;
    overflow-x: auto;
}

.table th,
.table td {
    padding: 0.75rem;
    vertical-align: top;
    border-top: 1px solid #dee2e6;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
}