@{
    ViewData["Title"] = "Home Page";
}

<body class="text-center main-page">
    <h1 class="display-4">Welcome</h1>
    <p class="description-home">Hello and welcome to <b>MasterShop</b>, the place to find the best products for every taste and occasion.
    We always keep an eye on the latest trends and put our customers’ wishes first,
    so that you only receive the best quality product.</p>
    <a class="btn btn-primary btn-xl text-uppercase js-scroll-trigger" asp-area="" asp-controller="Products" asp-action="Index">
        Shop Now
        <div class="far fa-arrow-alt-circle-right"></div>
    </a>
</body>
