@{ ViewData["Title"] = "Admin Page"; }

@{
    IEnumerable<MasterShop.Models.Order> orders = ViewData["Orders"] as IEnumerable<MasterShop.Models.Order>;
    IEnumerable<MasterShop.Models.Product> products = ViewData["Products"] as IEnumerable<MasterShop.Models.Product>;
    IEnumerable<MasterShop.Models.Account> accounts = ViewData["Accounts"] as IEnumerable<MasterShop.Models.Account>;
    IEnumerable<MasterShop.Models.Category> categories = ViewData["Categories"] as IEnumerable<MasterShop.Models.Category>;
}

<body>
    <partial name="../Orders/Index" model="orders" />
    <partial name="../Account/AccountList" model="accounts" />
    <partial name="../Products/ProductsList" model="products" />
    <partial name="../Categories/Index" model="categories" />
</body>
