@*@model IEnumerable<MasterShop.Models.Account>*@
@model MasterShop.Models.Account

@{ ViewData["Title"] = "Sign In";
    Layout = "_UsersLayout"; }}

@{ var data = ViewData["Message"]; }

<div class="signin-container app-background">
    <div class="image-holder">
        <img src="~/images/Login/registration-form-1.jpg" alt="" style="width: 100%">
    </div>
    <form asp-action="Login" class="signin-form">
        <h3 class="text-center">Sign In</h3>
        <div class="form-group">
            <label asp-for="Email" class="control-label"></label>
            <input asp-for="Email" class="form-control" />
        </div>
        <div class="form-group">
            <label asp-for="Password" class="control-label"></label>
            <input asp-for="Password" class="form-control" />
            <span asp-validation-for="Password" class="text-danger"></span>
        </div>
        <div class="form-group">
            <input type="submit" value="Login" class="btn btn-primary" />
        </div>
        <div class="signup">
            Don’t have an account?
            <a asp-action="Register"><b>Sign Up!</b></a>
        </div>
    </form>
</div>
