@model MasterShop.Models.Account

@{
    ViewData["Title"] = "Porfile";
}

<div class="row justify-content-center m-3">
    <div class="col-md-8 p-4 rounded app-background">
        <div class="row justify-content-center">
            <div class="col-md-12">
                <h4 class="text-center">My Account</h4>
                <hr />
            </div>
        </div>

        <div class="row justify-content-center">
            <div class="col-md-12">
                <form asp-action="Profile">
                    <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                    <input type="hidden" asp-for="Id" />
                    <input type="hidden" asp-for="Type" />
                    <input type="hidden" asp-for="Gender" />
                    <input type="hidden" asp-for="FullName" />
                    <div class="form-row">
                        <div class="form-group col-md-6">
                            <label asp-for="FullName" class="control-label"></label>
                            <div>@Model.FullName</div>
                        </div>
                        <div class="form-group col-md-6">
                            <label asp-for="Email" class="control-label"></label>
                            <input asp-for="Email" class="form-control" />
                            <span asp-validation-for="Email" class="text-danger"></span>
                        </div>
                    </div>
                    <div class="form-row">
                        <div class="form-group col-md-6">
                            <label asp-for="Password" class="control-label"></label>
                            <input asp-for="Password" class="form-control" />
                            <span asp-validation-for="Password" class="text-danger"></span>
                        </div>
                        <div class="form-group col-md-6">
                            <label asp-for="ConfirmPassword" class="control-label"></label>
                            <input asp-for="ConfirmPassword" class="form-control" />
                            <span asp-validation-for="ConfirmPassword" class="text-danger"></span>
                        </div>
                    </div>
                    <div class="form-group text-center">
                        <input type="submit" value="Save" class="btn btn-primary" />
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
